.logo {
    width: 150px;
}
.nav-item .nav-link{
    color: black;
    transition: 0.2s ease-in;
}
.nav-item .nav-link:hover {
    text-decoration: underline;
    color: red;
    transform: scale(1.03);
}
.nav-link .fa-solid {
    color: red;
}
.bor {
    justify-content: space-between;
    align-content: center;
    border: 1px solid gray;
    padding: 5px 50px;
    border-radius: 30px;
}
input {
    border: none;
    outline: none;
}
header {
    border-bottom: 1px solid gray;
}
.container {
    width: 100%;
}
.row {
    width: 90%;
}
.herosection {
    width: 80%;
}
.herosection h1 {
    font-size: 60px;
    width: 837px;
    font-weight: 500;
    margin: 0px 0px 20px;
}
.image {
    width: 80%;
}
.image img {
    width: 845.38px;
    height: 682.98px;
}
.content {
    border-radius: 20px;
    width: 410.61px;
    height: 910px;
    padding: 30px 30px 20px;
    box-shadow: 0px 0px 10px 2px#aaaaaa;
}
.herosection2 h2 {
    font-size: 36px;
    margin: 0;
}
.link1 p {
    margin: 0;
}
.link1 {
    width: 100%;
}
.link1 a {
    display: block;
    text-decoration: none;
    color: red;
    font-size: 16px;
    margin: 10px 0px 0px;
    padding: 20px 30px 20px 0px;
}
.firstimage {
    padding: 0px 20px 0px 0px;
}
.firstimage img {
   border-radius: 10px;
   width: 120.24px;
   height: 90.18px;
}
.flex1 {
    padding: 30px 0;
    border-bottom: 1px solid gray;
}
.first {
    border-bottom: 1px solid gray;
}
.flex1:last-child {
    border-bottom: none;
}
.text1 h3 {
    color: gray;
    font-size: 14px;
    margin: 0px 0px 10px;
    
}
.text1 a {
    font-size: 16px;
    font-weight: 750;
    color: black;
    display: block;
    width: 193.96px;
}
@media(max-width:576px) {
    .hero{
        width: 100%;
        flex-direction: column;
    }
    .herosection {
        width: 100%;
    }
    .herosection h1{
        font-size: 30px;
        width: 100%;
    }
    .link1 a {
        font-size: 14px;
        padding: 0;
        margin: 0;
        
    }
    .image {
        width: 100%;
    }
    .image img {
       max-width: 100%;
       height: auto;
    }
    .content {
        padding: 0;
        width: 100%;
        height: auto;
        box-shadow: none;
    }
    .flex1 {
        width: 100%;
        height: auto;
    }
    .firstimage img {
        max-width: 100%;
        height: auto;
    }

    .text1 {
        width: 100%;
    }
    .text1 a {
        width: 100%;
    }

}
@media(min-width:577px) and (max-width:1024px) {
    .hero{
        width: 100%;
        flex-direction: column;
    }
    .herosection {
       width: 100%;
    }
    .herosection h1 {
        width: 100%;
    }
    .image {
        width: 100%;
    }
    .image img {
       width: 100%;
       height: auto;
    }
    .first {
        width: 100%;
        display: flex;
        gap: 20px;
    }
    .sec {
        width: 100%;
        display: flex;
        gap: 20px;
    }
    .content {
        padding: 0;
        width: 100%;
        height: auto;
        box-shadow: none;
    }
    .flex1 {
        width: 100%;
        height: auto;
    }
    .firstimage img {
        max-width: 100%;
        height: auto;
    }
     .first {
        border-bottom: none;
     }
   .flex1:last-child {
    border-bottom: 1px solid gray;
   }
    .text1 {
        width: 100%;
    }
    .text1 a {
        width: 100%;
    }
}
@media(min-width:1025px) {
    .hero{
        width: 100%;
    }
    .herosection {
       width: 100%;
    }
    .herosection h1 {
        width: 100%;
    }
    .link1 {
        width: 100%;
    }
    .link1 a {
        width: 100%;
    }
    .image {
        height: auto;
        width: 100%;
        
    }
    .image img {
        height: auto;
        max-width: 100%;
        
    }
    .content {
        width: 100%;
        height: auto;
       
    }
    .flex1 {
        width: 100%;
        width: 100%;
       
    }
    .firstimage img {
        max-width: 100%;
        height: auto;
    }
    .text1 {
        width: 100%;
    }
    .text1 a {
        width: 100%;
    }
} 
.contentbox {
    width: 100%;
    box-shadow: 0px 0px 10px 2px#aaaaaa;
    margin: 0px 20px 0px 0px;
    padding: 50px 60px 50px 50px;
    border-radius: 20px;
}
.euro {
    width: 40%;
    box-shadow: 0px 0px 10px 2px#aaaaaa;
    margin: 0px 0px 0px 20px;
    padding: 40px 50px;
    border-radius: 20px;
}
.signup h2 {
    line-height: 1.3;
    font-size: 36px;
    width: 90%;
    margin: 0px 0px 12px;
}
.signup h3 {
    font-size: 22px;
    margin: 0px 0px 12px;
}
label {
    font-size: 16px;
    font-weight: 500;
    margin: 0px 0px 8px;
}
.input-flex {
    gap: 20px;
}
.pad {
    width: 40%;
    padding: 10px 8px;
}
.btn1 {
    padding: 10px 16px;
}
.love-image img {
    width: 100%;
}
.span1 {
    margin: 0px 0px 12px;
}
.span1 span {
    font-size: 20px;
    font-weight: 500;
}
.span2 {
    margin: 0px 0px 16px;
}
.span2 .price {
    font-size: 60px;
    font-weight: 600;
}
.span2 .currency {
    font-size: 20px;
    font-weight: 500;
}
.span3 {
    margin: 0px 0px 20px;
}
.span3 span {
    padding: 2px;
    font-size: 20px;
    color: red;
}
.para1 {
    margin: 0px 0px 30px;
}
.para1 p{
    margin: 0;
    font-size: 12px;
}
.colse {
    font-size: 16px;
    color: red;
    text-decoration: none;
}
.fa-solid {
    padding-left: 7px;
}
@media(max-width:576px) {
    .box {
        width: 100%;
        flex-direction: column;
    }
    .contentbox {
        padding: 40px 20px 40px 20px;
        width: 100%;
        flex-direction: column;
    }
    .signup h2 {
        width: 100%;
        font-size: 24px;
        font-weight: 400;
    }
    .input-flex {
        width: 100%;
    }
    .euro {
        margin: 20px 0px 0px 0px;
        width: 100%;
        padding: 40px 40px;
    }
    .span1 span {
        width: 100%;
        font-size: 20px;
        font-weight: 400;
    }
    .span2 .price {
        font-size: 40px;
        font-weight: 450;
    }
    .span2 .currency {
        font-size: 20px;
        font-weight: 400;
    }
    .span3 span {
        font-size: 20px;
        width: 100%;
    }
}
@media(min-width:577px) and (max-width:1024px) {
    .box {
        max-width: 1024px;
        flex-direction: column;
    }
    .contentbox {
        max-width: 1024px;
    }
    .signup h2 {
        width: 100%;

    }
    .input-flex {
        width: 100%;
    }
    .euro {
        margin: 20px 0px 0px 0px;
        width: 100%;
    }
    .span1 span {
        width: 100%;
    }
   .span2 {
    width: 100%;
   }
    .span3 span {
        width: 100%;
    }
}
.tab-box {
    padding: 80px 0px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 2px#aaaaaa;
}
.list ul {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid gray;
    padding-bottom: 20px;
}
.list ul li {
    list-style: none;
}
.list ul li a {
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: black;
}
.list ul li a .fa-less-than {
    padding-left: 7px;
    display: none;
}
.bb {
    margin-top: 50px;
    padding: 40px 0px;
}
.tab {
    display: none;
}
.tab-flex1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px 82px 0px 100px;
    padding: 0px 0px 0px 12px;
}
.tab1 p {
    width: 80%;
}
.tab1 a {
    color: red;
    text-decoration: none;
}
.tab-image img {
    border-radius: 20px;
}
.list ul li a.active{
    padding: 0px 0px 19px 0px;
    border-bottom: 5px solid red;
    
  }
.tab.active{
    display: block;
  }
@media(max-width:576px) {
    .tab-box {
        padding: 32px 24px 80px;
        width: 100%;
    }
    .list ul {
        padding: 0;
        margin: 0px 0px 50px 0px;
        flex-direction: column;
        border-bottom: none;
    }
    .list ul li {
        padding: 10px 0;
        border-bottom: 1px solid gray;
    }
    .list ul li a {
        font-size: 16px;
    }
    .list ul li a.active{
        padding: 0px 0px 19px 0px;
        border-bottom: none;
      }
      .tab-flex1 {
        padding: 0;
        margin: 0;
        width: 100%;
        flex-direction: column;
      }
      .tab1 h1 {
        width: 100%;
      }
      .tab1 p {
        width: 100%;
      }
      .tab1 a{
        margin-bottom: 20px;
      }
      .tab-image {
        margin-top: 20px;
      }
      .tab-image img {
        width: 100%;
      }
     .list ul li a .fa-less-than.active {
        display: block;
        color: red;
      }

}