.logo {
    width: 150px;
}
.nav-item .nav-link{
    color: black;
    transition: 0.2s ease-in;
}
.nav-item .nav-link:hover {
    text-decoration: underline;
    color: red;
    transform: scale(1.03);
}
.nav-link .fa-solid {
    color: red;
}
.bor {
    justify-content: space-between;
    align-content: center;
    border: 1px solid gray;
    padding: 5px 50px;
    border-radius: 30px;
}
input {
    border: none;
    outline: none;
}
header {
    border-bottom: 1px solid gray;
}
.container {
    width: 100%;
}
.hero {
    gap: 20px;
    width: 100%;
}
.herosection {
    width: 100%;
    height: auto;
}
.herosection h1 {
    font-size: 60px;
    width: 100%;
    font-weight: 500;
    margin: 0px 0px 20px;
}
.image img {
    width: 100%;
    height: auto;
}
.content {
    width: 100%;
    height: auto;
    border-radius: 20px;
    padding: 20px 30px;
    box-shadow: 0px 0px 10px 2px#aaaaaa;
}
.herosection2 h2 {
    font-size: 36px;
    margin: 0;
}
.link1 p {
    margin: 0;
}
.link1 {
    width: 100%;
}
.link1 a {
    display: block;
    text-decoration: none;
    color: red;
    font-size: 16px;
    margin: 10px 0px 0px;
    padding: 20px 30px 20px 0px;
}
.firstimage {
    padding: 0px 20px 0px 0px;
}
.firstimage img {
   border-radius: 10px;
   width: 120.24px;
   height: 90.18px;
}
.flex1 {
    padding: 30px 0;
    border-bottom: 1px solid gray;
}
.first {
    border-bottom: 1px solid gray;
}
.flex1:last-child {
    border-bottom: none;
}
.text1 h3 {
    color: gray;
    font-size: 14px;
    margin: 0px 0px 10px;
    
}
.text1 a {
    font-size: 16px;
    font-weight: 750;
    color: black;
    display: block;
    width: 193.96px;
}
@media(max-width:576px) {
    .hero{
        width: 100%;
        flex-direction: column;
    }
    .herosection {
        width: 100%;
    }
    .herosection h1{
        font-size: 30px;
        width: 100%;
    }
    .link1 a {
        font-size: 14px;
        padding: 0;
        margin: 0;
        
    }
    .image {
        width: 100%;
    }
    .image img {
       max-width: 100%;
       height: auto;
    }
    .content {
        padding: 0;
        width: 100%;
        height: auto;
        box-shadow: none;
    }
    .flex1 {
        width: 100%;
        height: auto;
    }
    .firstimage img {
        max-width: 100%;
        height: auto;
    }

    .text1 {
        width: 100%;
    }
    .text1 a {
        width: 100%;
    }

}
@media(min-width:577px) and (max-width:1024px) {
    .hero{
        width: 100%;
        flex-direction: column;
    }
    .herosection {
       width: 100%;
    }
    .herosection h1 {
        width: 100%;
    }
    .image {
        width: 100%;
    }
    .image img {
       width: 100%;
       height: auto;
    }
    .first {
        width: 100%;
        display: flex;
        gap: 20px;
    }
    .sec {
        width: 100%;
        display: flex;
        gap: 20px;
    }
    .content {
        padding: 0;
        width: 100%;
        height: auto;
        box-shadow: none;
    }
    .flex1 {
        width: 100%;
        height: auto;
    }
    .firstimage img {
        max-width: 100%;
        height: auto;
    }
     .first {
        border-bottom: none;
     }
   .flex1:last-child {
    border-bottom: 1px solid gray;
   }
    .text1 {
        width: 100%;
    }
    .text1 a {
        width: 100%;
    }
}
@media(min-width:1025px) {
   .hero {
    width: 100%;
}
.herosection {
    width: 100%;
}
.herosection h1 {
    width: 100%;
}
.image {
    width: 100%;
    height: 100%
}
.image img {
    max-width: 100%;
    height: auto;
    /* height: auto; */
}
.content {
    width: 50%;
    height: auto;
}
.link1 {
    width: 100%;
}
.link1 a {
    display: block;
    width: 100%;
}
.firstimage {
  width: 100%;
  height: auto;
}
.firstimage img {
  min-width: 100px;
}
.flex1 {
    width: 100%;
    border-bottom: 1px solid gray;
}
.first {
    border-bottom: 1px solid gray;
}
.text1 a {
    font-weight: 450;
    display: block;
    min-width: 100px;
}
} 
.contentbox {
    width: 100%;
    box-shadow: 0px 0px 10px 2px#aaaaaa;
    margin: 0px 20px 0px 0px;
    padding: 50px 60px 50px 50px;
    border-radius: 20px;
}
.euro {
    width: 40%;
    box-shadow: 0px 0px 10px 2px#aaaaaa;
    margin: 0px 0px 0px 20px;
    padding: 40px 50px;
    border-radius: 20px;
}
.signup h2 {
    line-height: 1.3;
    font-size: 36px;
    width: 90%;
    margin: 0px 0px 12px;
}
.signup h3 {
    font-size: 22px;
    margin: 0px 0px 12px;
}
label {
    font-size: 16px;
    font-weight: 500;
    margin: 0px 0px 8px;
}
.input-flex {
    gap: 20px;
}
.pad {
    width: 40%;
    padding: 10px 8px;
}
.btn1 {
    padding: 10px 16px;
}
.love-image img {
    width: 100%;
}
.span1 {
    margin: 0px 0px 12px;
}
.span1 span {
    font-size: 20px;
    font-weight: 500;
}
.span2 {
    margin: 0px 0px 16px;
}
.span2 .price {
    font-size: 60px;
    font-weight: 600;
}
.span2 .currency {
    font-size: 20px;
    font-weight: 500;
}
.span3 {
    margin: 0px 0px 20px;
}
.span3 span {
    padding: 2px;
    font-size: 20px;
    color: red;
}
.para1 {
    margin: 0px 0px 30px;
}
.para1 p{
    margin: 0;
    font-size: 12px;
}
.colse {
    font-size: 16px;
    color: red;
    text-decoration: none;
}
.fa-solid {
    padding-left: 7px;
}
@media(max-width:576px) {
    .box {
        width: 100%;
        flex-direction: column;
    }
    .contentbox {
        padding: 40px 20px 40px 20px;
        width: 100%;
        flex-direction: column;
    }
    .signup h2 {
        width: 100%;
        font-size: 24px;
        font-weight: 400;
    }
    .input-flex {
        width: 100%;
    }
    .euro {
        margin: 20px 0px 0px 0px;
        width: 100%;
        padding: 40px 40px;
    }
    .span1 span {
        width: 100%;
        font-size: 20px;
        font-weight: 400;
    }
    .span2 .price {
        font-size: 40px;
        font-weight: 450;
    }
    .span2 .currency {
        font-size: 20px;
        font-weight: 400;
    }
    .span3 span {
        font-size: 20px;
        width: 100%;
    }
}
@media(min-width:577px) and (max-width:1024px) {
    .box {
        max-width: 1024px;
        flex-direction: column;
    }
    .contentbox {
        max-width: 1024px;
    }
    .signup h2 {
        width: 100%;

    }
    .input-flex {
        width: 100%;
    }
    .euro {
        margin: 20px 0px 0px 0px;
        width: 100%;
    }
    .span1 span {
        width: 100%;
    }
   .span2 {
    width: 100%;
   }
    .span3 span {
        width: 100%;
    }
}
.tab-box {
    padding: 80px 0px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 2px#aaaaaa;
}
.list ul {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid gray;
    padding-bottom: 20px;
}
.list ul li {
    list-style: none;
}
.list ul li a {
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: black;
}
.list ul li a .fa-less-than {
    padding-left: 7px;
    display: none;
}
.bb {
    margin-top: 50px;
    padding: 40px 0px;
}
.tab {
    display: none;
}
.tab-flex1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px 82px 0px 100px;
    padding: 0px 0px 0px 12px;
}
.tab1 p {
    width: 80%;
}
.tab1 a {
    color: red;
    text-decoration: none;
}
.tab-image img {
    border-radius: 20px;
}
.list ul li a.active{
    padding: 0px 0px 19px 0px;
    border-bottom: 5px solid red;
    
  }
.tab.active{
    display: block;
  }
@media(max-width:576px) {
    .tab-box {
        padding: 32px 24px 80px;
        width: 100%;
    }
    .list ul {
        padding: 0;
        margin: 0px 0px 50px 0px;
        flex-direction: column;
        border-bottom: none;
    }
    .list ul li {
        padding: 10px 0;
        border-bottom: 1px solid gray;
    }
    .list ul li a {
        font-size: 16px;
    }
    .list ul li a.active{
        padding: 0px 0px 19px 0px;
        border-bottom: none;
        color: red;
      }
      .tab-flex1 {
        padding: 0;
        margin: 0;
        width: 100%;
        flex-direction: column;
      }
      .tab1 h1 {
        width: 100%;
      }
      .tab1 p {
        width: 100%;
      }
      .tab1 a{
        margin-bottom: 20px;
      }
      .tab-image {
        margin-top: 20px;
      }
      .tab-image img {
        width: 100%;
      }

}
@media(min-width:577px) and (max-width:767px) {
    .tab-box {
        padding: 32px 24px 80px;
        width: 100%;
    }
    .list ul {
        padding: 0;
        margin: 0px 0px 50px 0px;
        flex-direction: column;
        border-bottom: none;
    }
    .list ul li {
        padding: 10px 0;
        border-bottom: 1px solid gray;
    }
    .list ul li a {
        font-size: 16px;
    }
    .list ul li a.active{
        padding: 0px 0px 19px 0px;
        border-bottom: none;
      }
      .tab-flex1 {
        padding: 0;
        margin: 0;
        width: 100%;
        flex-direction: column;
      }
      .tab1 h1 {
        width: 100%;
      }
      .tab1 p {
        width: 100%;
      }
      .tab1 a{
        margin-bottom: 20px;
      }
      .tab-image {
        margin-top: 20px;
      }
      .tab-image img {
        width: 100%;
      }
}
@media(min-width:768px) and (max-width:1024px){
    .tab-box {
        padding: 32px 24px 80px;
        width: 100%;
    }
    .list ul {
        padding: 20px 0;
        margin: 0px 0px 50px 0px;
        /* border-bottom: none; */
    }
    .list ul li {
        padding: 0;
        /* border-bottom: 1px solid gray; */
    }
    .list ul li a {
        font-size: 16px;
        font-weight: 400;
    }
    .list ul li a.active{
        padding: 0px 0px 19px 0px;
        border-bottom: none;
      }
      .tab-flex1 {
        padding: 0;
        margin: 0;
        width: 100%;
        /* flex-direction: column; */
      }
      .tab1 {
        width: 80%;
      }
      .tab1 h1 {
        width: 100%;
      }
      .tab1 p {
        width: 80%;
      }
      .tab1 a{
        margin-bottom: 20px;
      }
      .tab-image {
        margin-top: 20px;
        width: 100%;
      }
      .tab-image img {
        width: 100%;
      }
      .list ul li a.active{
    padding: 0px 0px 19px 0px;
    border-bottom: 5px solid red;
    
  }
}
@media(min-width: 1025px) {
    .tab-box {
        padding: 32px 24px 80px;
        width: 100%;
    }
    .list ul {
        padding: 20px 0;
        margin: 0px 0px 50px 0px;
        /* border-bottom: none; */
    }
    .list ul li {
        padding: 0;
        /* border-bottom: 1px solid gray; */
    }
    .list ul li a.active{
        padding: 0;
        border-bottom: none;
      }
      .tab-flex1 {
        padding: 0;
        margin: 0;
        width: 100%;
        /* flex-direction: column; */
      }
      .tab1 {
        width: 100%;
      }
      .tab1 h1 {
        width: 100%;
      }
      .tab1 p {
        width: 100%;
      }
      .tab1 a{
        margin-bottom: 20px;
      }
      .tab-image {
        margin-top: 20px;
        width: 100%;
      }
      .tab-image img {
        width: 100%;
      }
      .list ul li a.active{
        padding: 0px 0px 19px 0px;
        border-bottom: 5px solid red;
        
      }
}
.women-one {
    position: relative;
}
.women-image img {
    width: 100%;
    border-radius: 20px;
}
.women-text {
    position: absolute;
    background-color: #fff;
    padding: 30px;
    border: 1px solid #fff;
    border-radius: 15px;
    width: 25%;
    top: 30%;
    right: 10%;

}
.women-text h2 {
    line-height: 1.5;
    font-size: 36px;
    font-weight: 500;
}
.women-text p {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 25px;
}
.women-text a {
    text-decoration: none;
    color: red;
}
.men-one {
    position: relative;
}
.men-image img {
    width: 100%;
    border-radius: 20px;
}
.men-text {
    height: auto;
    position: absolute;
    background-color: #fff;
    padding: 30px;
    border: 1px solid #fff;
    border-radius: 15px;
    width: 25%;
    top: 30%;
    right: 10%;

}
.men-text h2 {
    line-height: 1.5;
    font-size: 36px;
    font-weight: 500;
}
.men-text p {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 25px;
}
.men-text a {
    text-decoration: none;
    color: red;
}
@media(max-width:768px) {
    .over {
        padding-top: 275px;
    }
    .women-image {
        width: 100%;
    }
    .men-image {
        width: 100%;
    }
    .women-text {
        box-shadow: 0px 0px 10px 2px#aaaaaa;
        margin-top: 80px;
        right: 0%;
        width: 100%;
    }
    .men-text{
        box-shadow: 0px 0px 10px 2px#aaaaaa;
        margin-top: 80px;
        right: 0%;
        width: 100%;
    }
    .women-text h2 p a {
        width: 100%;
    }
    .men-text h2 p a {
        width: 100%;
    }
    .women-text h2 {
        font-size: 24px;
        font-weight: 500;
    }
    .men-text h2 {
        font-size: 24px;
        font-weight: 500;
    }
}
@media(min-width:769px) and (max-width:1024px) {
    .women-image {
        width: 100%;
    }
    .men-image {
        width: 100%;
    }
    .women-text {
       min-width: 47%;
        top: 20%;
        right: 10%;
        bottom: 20%;
    }
    .men-text {
        min-width: 55%;
         top: 20%;
         right: 10%;
         bottom: 20%;
     }
    .women-text a {
        width: 100%;
    }
    .men-text a {
        width: 100%;
    }
    .women-text p {
        margin-bottom: 10px;
        font-size: 16px;
        width: 100%;
    }
    .men-text p {
        width: 100%;
    }
    .women-text h2 {
        margin: 0;
        font-size: 24px;
        font-weight: 500;
    }
    .men-text h2 {
        margin: 0;
        font-size: 24px;
        font-weight: 500;
    }
}
@media(min-width:1025px) {
    .women-image {
        width: 100%;
    }
    .men-image {
        width: 100%;
    }
    .women-text {
        width: 25%;
        top: 10%;
        right: 10%;
        bottom: 10%;
    }
    .men-text {
        width: 35%;
        top: 10%;
        right: 10%;
        bottom: 10%;
    }
    .women-text a {
        width: 100%;
    }
    .men-text a {
        width: 100%;
    }
    .men-text p {
        width: 100%;
    }
    .women-text h2 {
        width: 100%;
    }
    .men-text h2 {
       width: 100%;
    }
}
.same {
    margin-top: 250px;
}
.child-flex {
    margin: 0px 20px 0px 0px;
    box-shadow: 0px 0px 10px 2px#aaaaaa;
    padding: 50px 60px 50px 50px;
    border-radius: 20px;
    width: 100%;
}
.para-empower h2 {
    /* padding-top: 40px; */
    font-size: 36px;
    margin: 0px 0px 12px;
}
.para-empower p {
    margin-bottom: 25px;
    width: 80%;
    font-size: 16px;
    font-weight: 500;
}
.para-empower a {
    color: red;
    text-decoration: none;
}
.ovalmenimage img {
    width: 100%;
    border-radius: 50%;
}
.heart {
    margin: 0px 0px 0px 20px;
    box-shadow: 0px 0px 10px 2px#aaaaaa;
    padding: 50px 40px;
    border-radius: 20px;
    width: 40%;
}
.heart h2 {
    font-size: 36px;
    margin: 0px 0px 12px;
}
.heart p {
    font-size: 16px;
    font-weight: 500;

}
.heart a {
    color: red;
    text-decoration: none;
}
@media(max-width:768px) {
    .future-flex {
        flex-direction: column;
    }
    .child-flex {
        margin: 0px 0px 32px;
        padding: 40px 25px 40px 25px;
        width: 100%;
        flex-direction: column;
    }
    .para-empower h2 {
        font-size: 24px;
        font-weight: 500;
    }
    .para-empower p {
        width: 100%;
    }
    .para-empower a {
        padding: 10px 16px 10px 0px;
        
    }
    .ovalmenimage {
        text-align: center;
        width: 100%;
        padding-top: 30px;
    }
    .ovalmenimage img {
        width: 250px;
    }
    .heart {
        margin: 0;
        width: 100%;
    }
    .heart h2 {
        font-size: 24px;
        font-weight: 500;
    }
    .heart a {
        font-size: 15px;
    }
}
@media(min-width:769px) and (max-width:1024px) {
    .future-flex {
        flex-direction: column;
    }
    .child-flex {
        margin: 0px 0px 32px;
        padding: 40px 62.35px;
        width: 100%;
    }
    .para-empower {
        width: 100%;
    }
    .para-empower h2 {
        width: 100%;
        font-size: 36px;
        font-weight: 500;
    }
    .para-empower p {
        width: 100%;
    }
    .para-empower a {
        width: 100%;
        padding: 10px 16px 10px 0px;
        
    }
    .ovalmenimage {
        /* padding-left: 200px; */
        width: 100%;
    }
    .ovalmenimage img {
        width: 250px;
    }
    .heart {
        margin: 0;
        width: 100%;
    }
    .heart h2 {
        font-size: 36px;
        font-weight: 500;
    }
    .heart a {
        font-size: 16px;
    }
}
@media(min-width:1025px) {
    .child-flex {
        padding: 50px 60px 50px 50px;
        width: 100%;
    }
    .para-empower {
        width: 100%;
    }
    .para-empower h2 {
        width: 100%;
        font-size: 36px;
        font-weight: 500;
    }
    .para-empower p {
        width: 100%;
    }
    .para-empower a {
        width: 100%;
        padding: 10px 16px 10px 0px;
        
    }
    .ovalmenimage {
        width: 100%;
    }
    .ovalmenimage img {
        max-width: 100%;
    }
    .heart {
        width: 40%;
    }
    .heart h2 {
        font-size: 36px;
        font-weight: 500;
    }
    .heart a {
        font-size: 16px;
    }
}
footer {
    margin-top: 100px;
    background-color: black;
}
.footerfirstcontent h1 {
    margin-top: 60px;
    padding-bottom: 30px;
    color: #fff;
}
.footerseccontent h1 {
    margin-top: 60px;
    padding-bottom: 30px;
    color: #fff;
}
.top1 label {
    color: #fff;
}
.fotterlist1 h3 {
    color: #fff;
    font-size: 16px;
}
.fotterlist1 ul {
    margin-right: 50px;
    padding: 0;
}
.fotterlist1 ul li {
    padding-top: 5px;
    padding-bottom: 5px;
    list-style: none;
}
.fotterlist1 ul li a {
    color: #fff;
}
@media(max-width:768px) {
    .footercontainer {
        flex-direction: column;
    }
    .footerfirstcontent h1{
        width: 100%;
        font-size: 24px;
    }
    .footerlistcontent {
        flex-direction: column;
    }
    .fotterlist1 h3 {
        padding-bottom: 20px;
        border-bottom: 2px solid #fff;
    }
    .fotterlist1 ul {
        max-height: 0px;
        overflow: hidden;
        display: none;
        transition: ease 0.9s ease-in-out;
    }
    .fotterlist1 ul.active {
         max-height: fit-content;
         transform: scale(1.04);
    }
    .fotterlist1 h3.active {
        color: red;
    }
}
